:root {
  --body-normal-bold-font-family: "Aeonik-Bold", Helvetica;
  --body-normal-bold-font-size: 16px;
  --body-normal-bold-font-style: normal;
  --body-normal-bold-font-weight: 700;
  --body-normal-bold-letter-spacing: 0px;
  --body-normal-bold-line-height: 24px;
  --body-normal-medium-font-family: "Aeonik-Medium", Helvetica;
  --body-normal-medium-font-size: 16px;
  --body-normal-medium-font-style: normal;
  --body-normal-medium-font-weight: 500;
  --body-normal-medium-letter-spacing: 0px;
  --body-normal-medium-line-height: 24px;
  --body-small-2-medium-font-family: "Aeonik-Medium", Helvetica;
  --body-small-2-medium-font-size: 14px;
  --body-small-2-medium-font-style: normal;
  --body-small-2-medium-font-weight: 500;
  --body-small-2-medium-letter-spacing: 0.25px;
  --body-small-2-medium-line-height: 16px;
  --body-small-2-regular-font-family: "Aeonik-Regular", Helvetica;
  --body-small-2-regular-font-size: 14px;
  --body-small-2-regular-font-style: normal;
  --body-small-2-regular-font-weight: 400;
  --body-small-2-regular-letter-spacing: 0.25px;
  --body-small-2-regular-line-height: 16px;
  --button-button-font-family: "Aeonik-Medium", Helvetica;
  --button-button-font-size: 14px;
  --button-button-font-style: normal;
  --button-button-font-weight: 500;
  --button-button-letter-spacing: 0.10000000149011612px;
  --button-button-line-height: 20px;
  --button-large-font-family: "Aeonik-Medium", Helvetica;
  --button-large-font-size: 16px;
  --button-large-font-style: normal;
  --button-large-font-weight: 500;
  --button-large-letter-spacing: 0px;
  --button-large-line-height: 24px;
  --button-small-font-family: "Aeonik-Medium", Helvetica;
  --button-small-font-size: 14px;
  --button-small-font-style: normal;
  --button-small-font-weight: 500;
  --button-small-letter-spacing: 0.10000000149011612px;
  --button-small-line-height: 20px;
  --caption-small-CAP-font-family: "Aeonik-Medium", Helvetica;
  --caption-small-CAP-font-size: 12px;
  --caption-small-CAP-font-style: normal;
  --caption-small-CAP-font-weight: 500;
  --caption-small-CAP-letter-spacing: 0.4000000059604645px;
  --caption-small-CAP-line-height: 16px;
  --caption-small-regular-font-family: "Aeonik-Regular", Helvetica;
  --caption-small-regular-font-size: 12px;
  --caption-small-regular-font-style: normal;
  --caption-small-regular-font-weight: 400;
  --caption-small-regular-letter-spacing: 0px;
  --caption-small-regular-line-height: 16px;
  --eazipaytypo-neutral-lighten-2: rgba(185, 187, 192, 1);
  --elevations-dark-mode-dark-2: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  --elevations-light-mode-light-2: 0px 6px 12px 0px rgba(170, 170, 170, 0.11);
  --header-h1-bold-font-family: "Aeonik-Bold", Helvetica;
  --header-h1-bold-font-size: 36px;
  --header-h1-bold-font-style: normal;
  --header-h1-bold-font-weight: 700;
  --header-h1-bold-letter-spacing: 0px;
  --header-h1-bold-line-height: 48px;
  --header-h2-bold-font-family: "Aeonik-Bold", Helvetica;
  --header-h2-bold-font-size: 28px;
  --header-h2-bold-font-style: normal;
  --header-h2-bold-font-weight: 700;
  --header-h2-bold-letter-spacing: 0px;
  --header-h2-bold-line-height: 36px;
  --light-mode-shadow-MD: 0px 9px 18px 0px rgba(170, 170, 170, 0.15);
  --light-mode-shadow-XL: 0px 20px 48px 0px rgba(170, 170, 170, 0.29);
  --nav-border-shadow: 4px 0px 25px 0px rgba(170, 170, 170, 0.08);
  --new-stylesgraysgray: rgba(221, 222, 221, 1);
  --new-stylesgraysoutline: rgba(231, 232, 231, 1);
  --new-stylesprimaryeazi-green: rgba(17, 69, 59, 1);
  --new-stylesprimarymint: rgba(217, 235, 205, 1);
  --new-stylesprimarymint-light: rgba(240, 247, 235, 0.5);
  --new-stylessecondarystrawberry: rgba(234, 78, 75, 1);
  --new-stylessematicserror: rgba(239, 68, 68, 1);
  --new-stylessematicssuccess: rgba(33, 150, 83, 1);
  --new-stylesshadeswhite: rgba(255, 255, 255, 1);
  --new-stylestextbody-dark: rgba(81, 82, 81, 1);
  --new-stylestextbody-light: rgba(181, 182, 181, 1);
  --new-stylestextbody-normal: rgba(141, 142, 141, 1);
  --new-stylestextheading: rgba(41, 42, 41, 1);
  --note-normal-bold-font-family: "Aeonik-Bold", Helvetica;
  --note-normal-bold-font-size: 10px;
  --note-normal-bold-font-style: normal;
  --note-normal-bold-font-weight: 700;
  --note-normal-bold-letter-spacing: 0px;
  --note-normal-bold-line-height: 12px;
  --old-body-medium-font-family: "Aeonik-Medium", Helvetica;
  --old-body-medium-font-size: 16px;
  --old-body-medium-font-style: normal;
  --old-body-medium-font-weight: 500;
  --old-body-medium-letter-spacing: 0px;
  --old-body-medium-line-height: normal;
  --old-body-small-medium-font-family: "Aeonik-Medium", Helvetica;
  --old-body-small-medium-font-size: 14px;
  --old-body-small-medium-font-style: normal;
  --old-body-small-medium-font-weight: 500;
  --old-body-small-medium-letter-spacing: -0.2659999966621399px;
  --old-body-small-medium-line-height: 14px;
  --old-body-small-regular-font-family: "Aeonik-Regular", Helvetica;
  --old-body-small-regular-font-size: 14px;
  --old-body-small-regular-font-style: normal;
  --old-body-small-regular-font-weight: 400;
  --old-body-small-regular-letter-spacing: 0px;
  --old-body-small-regular-line-height: normal;
  --old-body-very-small-regular-font-family: "Aeonik-Regular", Helvetica;
  --old-body-very-small-regular-font-size: 12px;
  --old-body-very-small-regular-font-style: normal;
  --old-body-very-small-regular-font-weight: 400;
  --old-body-very-small-regular-letter-spacing: 0px;
  --old-body-very-small-regular-line-height: normal;
  --old-note-text-semi-bold-font-family: "Aeonik-Bold", Helvetica;
  --old-note-text-semi-bold-font-size: 10px;
  --old-note-text-semi-bold-font-style: normal;
  --old-note-text-semi-bold-font-weight: 700;
  --old-note-text-semi-bold-letter-spacing: 0px;
  --old-note-text-semi-bold-line-height: normal;
  --old-stylesfail: rgba(201, 47, 2, 1);
  --old-stylesform-outline-color: rgba(227, 227, 227, 1);
  --old-styleslight-text-color: rgba(139, 139, 139, 1);
  --old-stylesmain-background-color-only: rgba(249, 250, 252, 1);
  --old-stylesmain-text-color: rgba(68, 68, 68, 1);
  --old-stylespart-paid: rgba(1, 170, 140, 1);
  --old-stylesscroll-color: rgba(175, 175, 175, 1);
  --old-styleswhite-color: rgba(255, 255, 255, 1);
  --pry-grey: rgba(137, 137, 137, 1);
  --sec-black: rgba(43, 43, 43, 1);
  --sub-header-h5-bold-font-family: "Aeonik-Bold", Helvetica;
  --sub-header-h5-bold-font-size: 18px;
  --sub-header-h5-bold-font-style: normal;
  --sub-header-h5-bold-font-weight: 700;
  --sub-header-h5-bold-letter-spacing: 0px;
  --sub-header-h5-bold-line-height: 24px;
  --sub-header-h5-medium-font-family: "Aeonik-Medium", Helvetica;
  --sub-header-h5-medium-font-size: 18px;
  --sub-header-h5-medium-font-style: normal;
  --sub-header-h5-medium-font-weight: 500;
  --sub-header-h5-medium-letter-spacing: 0px;
  --sub-header-h5-medium-line-height: 24px;
  --text-color-stylewhite: rgba(255, 255, 255, 1);
}

.DASHBOARD {
  background-color: #f9fafc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.DASHBOARD .div-2 {
  background-color: var(--old-stylesmain-background-color-only);
  height: 2122px;
  position: relative;
  width: 1440px;
}

.DASHBOARD .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  left: 351px;
  position: absolute;
  top: 126px;
}

.DASHBOARD .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.DASHBOARD .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.DASHBOARD .welcome-abasiama {
  color: var(--new-stylestextheading);
  font-family: var(--header-h1-bold-font-family);
  font-size: var(--header-h1-bold-font-size);
  font-style: var(--header-h1-bold-font-style);
  font-weight: var(--header-h1-bold-font-weight);
  letter-spacing: var(--header-h1-bold-letter-spacing);
  line-height: var(--header-h1-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-3 {
  color: #515251;
  font-family: var(--body-normal-medium-font-family);
  font-size: var(--body-normal-medium-font-size);
  font-style: var(--body-normal-medium-font-style);
  font-weight: var(--body-normal-medium-font-weight);
  letter-spacing: var(--body-normal-medium-letter-spacing);
  line-height: var(--body-normal-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.DASHBOARD .frame-9 {
  align-items: flex-start;
  background-color: #11453b;
  border: 1px solid;
  border-color: var(--new-stylesgraysoutline);
  border-radius: 24px;
  box-shadow: var(--light-mode-shadow-XL);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 31px 32px;
  position: relative;
  width: 770px;
}

.DASHBOARD .frame-10 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.DASHBOARD .text-wrapper-4 {
  color: var(--new-stylesprimarymint);
  font-family: var(--body-normal-medium-font-family);
  font-size: var(--body-normal-medium-font-size);
  font-style: var(--body-normal-medium-font-style);
  font-weight: var(--body-normal-medium-font-weight);
  letter-spacing: var(--body-normal-medium-letter-spacing);
  line-height: var(--body-normal-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-12 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.DASHBOARD .text-wrapper-5 {
  color: #ffffff;
  font-family: "Aeonik-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .img {
  flex: 0 0 auto;
  position: relative;
}

.DASHBOARD .buttons {
  align-items: center;
  background-color: var(--new-stylesprimarymint);
  border-radius: 24px;
  box-shadow: var(--elevations-dark-mode-dark-2);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 12px 28px;
  position: relative;
}

.DASHBOARD .button {
  all: unset;
  box-sizing: border-box;
  color: #11453b;
  font-family: var(--button-small-font-family);
  font-size: var(--button-small-font-size);
  font-style: var(--button-small-font-style);
  font-weight: var(--button-small-font-weight);
  letter-spacing: var(--button-small-letter-spacing);
  line-height: var(--button-small-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-13 {
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 770px;
}

.DASHBOARD .frame-14 {
  align-items: center;
  align-self: stretch;
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-15 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--new-stylesgraysoutline);
  border-radius: 24px;
  box-shadow: var(--light-mode-shadow-MD);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 16px 24px;
  position: relative;
}

.DASHBOARD .heroicons-outline-user-plus-wrapper {
  background-color: #ffedec;
  border-radius: 12px;
  height: 48px;
  position: relative;
  width: 48px;
}

.DASHBOARD .heroicons-outline-user-plus {
  background-image: url(https://c.animaapp.com/ALsvK82i/img/heroicons-outline-user-plus-1.svg) !important;
  height: 20px !important;
  left: 14px !important;
  position: relative !important;
  top: 14px !important;
  width: 20px !important;
}

.DASHBOARD .text-wrapper-6 {
  align-self: stretch;
  color: var(--new-stylestextbody-dark);
  font-family: var(--body-small-2-medium-font-family);
  font-size: var(--body-small-2-medium-font-size);
  font-style: var(--body-small-2-medium-font-style);
  font-weight: var(--body-small-2-medium-font-weight);
  letter-spacing: var(--body-small-2-medium-letter-spacing);
  line-height: var(--body-small-2-medium-line-height);
  position: relative;
  text-align: center;
}

.DASHBOARD .frame-wrapper {
  background-color: #f0f7eb;
  border-radius: 12px;
  height: 48px;
  position: relative;
  width: 48px;
}

.DASHBOARD .frame-16 {
  height: 16px;
  left: 13px;
  position: absolute;
  top: 16px;
  width: 22px;
}

.DASHBOARD .vector-wrapper {
  background-color: #e0f8ea;
  border-radius: 12px;
  height: 48px;
  position: relative;
  width: 48px;
}

.DASHBOARD .vector {
  height: 17px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 17px;
}

.DASHBOARD .img-wrapper {
  background-color: #edf5ff;
  border-radius: 12px;
  height: 48px;
  position: relative;
  width: 48px;
}

.DASHBOARD .frame-17 {
  height: 20px;
  left: 15px;
  position: absolute;
  top: 14px;
  width: 18px;
}

.DASHBOARD .dashboard-data {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--new-stylesgraysoutline);
  border-radius: 24px;
  box-shadow: var(--elevations-light-mode-light-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -1px;
  margin-right: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding: 0px 16px 16px;
  position: relative;
  width: 190px;
}

.DASHBOARD .ACTIVE-LOAN {
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -46px;
  margin-right: -14px;
  position: relative;
  width: 188px;
}

.DASHBOARD .frame-18 {
  align-items: center;
  align-self: stretch;
  background-color: var(--new-stylesprimarymint);
  border-radius: 16px 16px 0px 0px;
  box-shadow: var(--light-mode-shadow-MD);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px 36px;
  position: relative;
  width: 100%;
}

.DASHBOARD .text-wrapper-7 {
  color: #515251;
  font-family: var(--body-normal-bold-font-family);
  font-size: var(--body-normal-bold-font-size);
  font-style: var(--body-normal-bold-font-style);
  font-weight: var(--body-normal-bold-font-weight);
  letter-spacing: var(--body-normal-bold-letter-spacing);
  line-height: var(--body-normal-bold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-19 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 89px;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-20 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.DASHBOARD .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.DASHBOARD .text-wrapper-8 {
  color: #515251;
  font-family: var(--caption-small-regular-font-family);
  font-size: var(--caption-small-regular-font-size);
  font-style: var(--caption-small-regular-font-style);
  font-weight: var(--caption-small-regular-font-weight);
  letter-spacing: var(--caption-small-regular-letter-spacing);
  line-height: var(--caption-small-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-9 {
  color: #515251;
  font-family: var(--sub-header-h5-bold-font-family);
  font-size: var(--sub-header-h5-bold-font-size);
  font-style: var(--sub-header-h5-bold-font-style);
  font-weight: var(--sub-header-h5-bold-font-weight);
  letter-spacing: var(--sub-header-h5-bold-letter-spacing);
  line-height: var(--sub-header-h5-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .line {
  height: 1px;
  margin-left: -16px;
  margin-right: -14px;
  object-fit: cover;
  position: relative;
  width: 188px;
}

.DASHBOARD .text-wrapper-10 {
  color: #515251;
  font-family: var(--body-normal-medium-font-family);
  font-size: var(--body-normal-medium-font-size);
  font-style: var(--body-normal-medium-font-style);
  font-weight: var(--body-normal-medium-font-weight);
  letter-spacing: var(--body-normal-medium-letter-spacing);
  line-height: var(--body-normal-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-11 {
  color: var(--new-stylestextheading);
  font-family: "Aeonik-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-22 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--new-stylestextbody-normal);
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.DASHBOARD .rectangle-2 {
  background-color: #11453b;
  flex: 1;
  flex-grow: 1;
  height: 8px;
  position: relative;
}

.DASHBOARD .rectangle-3 {
  background-color: var(--new-stylessecondarystrawberry);
  flex: 1;
  flex-grow: 1;
  height: 8px;
  position: relative;
}

.DASHBOARD .frame-23 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-24 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.DASHBOARD .text-wrapper-12 {
  color: var(--new-stylestextbody-normal);
  font-family: var(--note-normal-bold-font-family);
  font-size: var(--note-normal-bold-font-size);
  font-style: var(--note-normal-bold-font-style);
  font-weight: var(--note-normal-bold-font-weight);
  letter-spacing: var(--note-normal-bold-letter-spacing);
  line-height: var(--note-normal-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .element {
  color: var(--new-stylestextbody-normal);
  font-family: var(--note-normal-bold-font-family);
  font-size: var(--note-normal-bold-font-size);
  font-style: var(--note-normal-bold-font-style);
  font-weight: var(--note-normal-bold-font-weight);
  letter-spacing: var(--note-normal-bold-letter-spacing);
  line-height: var(--note-normal-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .INFLOW {
  align-items: center;
  border: 1px solid;
  border-color: var(--new-stylesgraysoutline);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  position: relative;
  width: 1006px;
}

.DASHBOARD .GRAPH {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--light-mode-shadow-MD);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
  padding: 48px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 77px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-26 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.DASHBOARD .text-wrapper-13 {
  color: var(--new-stylessematicssuccess);
  font-family: var(--header-h2-bold-font-family);
  font-size: var(--header-h2-bold-font-size);
  font-style: var(--header-h2-bold-font-style);
  font-weight: var(--header-h2-bold-font-weight);
  letter-spacing: var(--header-h2-bold-letter-spacing);
  line-height: var(--header-h2-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-14 {
  color: var(--new-stylessematicserror);
  font-family: var(--header-h2-bold-font-family);
  font-size: var(--header-h2-bold-font-size);
  font-style: var(--header-h2-bold-font-style);
  font-weight: var(--header-h2-bold-font-weight);
  letter-spacing: var(--header-h2-bold-letter-spacing);
  line-height: var(--header-h2-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
}

.DASHBOARD .frame-28 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 4px 8px 4px 24px;
  position: relative;
}

.DASHBOARD .text-wrapper-15 {
  color: #11453b;
  font-family: var(--button-small-font-family);
  font-size: var(--button-small-font-size);
  font-style: var(--button-small-font-style);
  font-weight: var(--button-small-font-weight);
  letter-spacing: var(--button-small-letter-spacing);
  line-height: var(--button-small-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-29 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 295px;
  justify-content: center;
  padding: 0px 48px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-30 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 734px;
}

.DASHBOARD .frame-31 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  position: relative;
}

.DASHBOARD .text-wrapper-16 {
  -webkit-text-stroke: 1px #e7e8e7;
  border-color: var(--new-stylesgraysoutline);
  color: var(--new-stylestextbody-normal);
  font-family: var(--caption-small-CAP-font-family);
  font-size: var(--caption-small-CAP-font-size);
  font-style: var(--caption-small-CAP-font-style);
  font-weight: var(--caption-small-CAP-font-weight);
  letter-spacing: var(--caption-small-CAP-letter-spacing);
  line-height: var(--caption-small-CAP-line-height);
  margin-left: -1px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-17 {
  -webkit-text-stroke: 1px #e7e8e7;
  border-color: var(--new-stylesgraysoutline);
  color: var(--new-stylestextbody-normal);
  font-family: var(--caption-small-CAP-font-family);
  font-size: var(--caption-small-CAP-font-size);
  font-style: var(--caption-small-CAP-font-style);
  font-weight: var(--caption-small-CAP-font-weight);
  letter-spacing: var(--caption-small-CAP-letter-spacing);
  line-height: var(--caption-small-CAP-line-height);
  margin-left: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-32 {
  height: 223px;
  margin-right: -7px;
  position: relative;
  width: 686px;
}

.DASHBOARD .overlap {
  height: 223px;
  left: 0;
  position: absolute;
  top: 0;
  width: 675px;
}

.DASHBOARD .line-2 {
  height: 223px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.DASHBOARD .line-3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 169px;
  width: 675px;
}

.DASHBOARD .line-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 122px;
  width: 675px;
}

.DASHBOARD .line-5 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 675px;
}

.DASHBOARD .line-6 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 675px;
}

.DASHBOARD .overlap-wrapper {
  height: 178px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 506px;
}

.DASHBOARD .overlap-group {
  height: 193px;
  left: -1px;
  position: relative;
  top: -14px;
  width: 522px;
}

.DASHBOARD .overlap-group-2 {
  height: 163px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 522px;
}

.DASHBOARD .vector-2 {
  height: 115px;
  left: 1px;
  position: absolute;
  top: 48px;
  width: 520px;
}

.DASHBOARD .vector-3 {
  height: 145px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 522px;
}

.DASHBOARD .frame-33 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
  left: 247px;
  position: absolute;
  top: 0;
}

.DASHBOARD .frame-34 {
  background-image: url(https://c.animaapp.com/ALsvK82i/img/union-1.svg);
  background-size: 100% 100%;
  height: 34px;
  position: relative;
  width: 54px;
}

.DASHBOARD .text-wrapper-18 {
  color: #ffffff;
  font-family: "Aeonik-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.DASHBOARD .ellipse {
  background-color: var(--new-stylessematicserror);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 8px;
}

.DASHBOARD .frame-35 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1px;
  left: 348px;
  position: absolute;
  top: 0;
  width: 71px;
}

.DASHBOARD .frame-36 {
  align-self: stretch;
  background-image: url(https://c.animaapp.com/ALsvK82i/img/union-2.svg);
  background-size: 100% 100%;
  height: 34px;
  position: relative;
  width: 100%;
}

.DASHBOARD .text-wrapper-19 {
  color: #ffffff;
  font-family: "Aeonik-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 6px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.DASHBOARD .ellipse-2 {
  background-color: var(--new-stylessematicssuccess);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 8px;
}

.DASHBOARD .line-7 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 675px;
}

.DASHBOARD .frame-37 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 34px;
  padding: 0px 0px 0px 48px;
  position: relative;
  width: 734px;
}

.DASHBOARD .jan-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.DASHBOARD .text-wrapper-20 {
  -webkit-text-stroke: 1px #e7e8e7;
  border-color: var(--new-stylesgraysoutline);
  color: var(--new-stylestextbody-normal);
  font-family: var(--caption-small-CAP-font-family);
  font-size: var(--caption-small-CAP-font-size);
  font-style: var(--caption-small-CAP-font-style);
  font-weight: var(--caption-small-CAP-font-weight);
  letter-spacing: var(--caption-small-CAP-letter-spacing);
  line-height: var(--caption-small-CAP-line-height);
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-38 {
  align-items: flex-start;
  background-color: #11453b;
  display: flex;
  gap: 10px;
  left: 886px;
  padding: 10px 16px;
  position: absolute;
  top: 406px;
  width: 72px;
}

.DASHBOARD .text-wrapper-21 {
  color: #ffffff;
  font-family: var(--body-normal-bold-font-family);
  font-size: var(--body-normal-bold-font-size);
  font-style: var(--body-normal-bold-font-style);
  font-weight: var(--body-normal-bold-font-weight);
  letter-spacing: var(--body-normal-bold-letter-spacing);
  line-height: var(--body-normal-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 894px;
  position: relative;
  width: 1006px;
}

.DASHBOARD .text-wrapper-22 {
  color: var(--new-stylestextheading);
  font-family: "Aeonik-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-40 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 48px;
  position: relative;
  width: 100%;
}

.DASHBOARD .SEARCH-2 {
  border-color: var(--new-stylestextbody-light) !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  overflow: hidden !important;
  padding: 0px 0px 0px 32px !important;
  width: unset !important;
}

.DASHBOARD .SEARCH-instance {
  font-family: var(--body-small-2-regular-font-family) !important;
  font-size: var(--body-small-2-regular-font-size) !important;
  font-style: var(--body-small-2-regular-font-style) !important;
  font-weight: var(--body-small-2-regular-font-weight) !important;
  letter-spacing: var(--body-small-2-regular-letter-spacing) !important;
  line-height: var(--body-small-2-regular-line-height) !important;
  white-space: nowrap !important;
}

.DASHBOARD .SEARCH-2-instance {
  height: unset !important;
  margin-bottom: unset !important;
  margin-top: unset !important;
  padding: 12px 32px !important;
}

.DASHBOARD .BTN-SECONDARY-2 {
  align-self: stretch !important;
  border-color: var(--new-stylestextbody-light) !important;
  border-radius: 16px !important;
  flex: 0 0 auto !important;
  height: unset !important;
  padding: 10px 16px !important;
}

.DASHBOARD .BTN-SECONDARY-instance {
  gap: 8px !important;
}

.DASHBOARD .BTN-SECONDARY-2-instance {
  color: var(--new-stylestextbody-normal) !important;
}

.DASHBOARD .frame-41 {
  align-items: center;
  align-self: stretch;
  background-color: #f2f1f180;
  border-radius: 20px;
  display: flex;
  height: 752px;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 0px 0px 24px;
  position: relative;
  width: 100%;
}

.DASHBOARD .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  height: 716px;
  overflow-y: scroll;
  position: relative;
}

.DASHBOARD .TRANSACTION-HISTORY {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  padding: 24px 0px 8px;
  position: relative;
  width: 952.94px;
}

.DASHBOARD .saturday-november-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 26px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
}

.DASHBOARD .saturday-november {
  color: #515251;
  font-family: var(--sub-header-h5-medium-font-family);
  font-size: var(--sub-header-h5-medium-font-size);
  font-style: var(--sub-header-h5-medium-font-style);
  font-weight: var(--sub-header-h5-medium-font-weight);
  letter-spacing: var(--sub-header-h5-medium-letter-spacing);
  line-height: var(--sub-header-h5-medium-line-height);
  margin-bottom: -14px;
  margin-top: -16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-43 {
  align-items: flex-start;
  background-color: var(--old-styleswhite-color);
  border: 1px solid;
  border-color: #e7e8e7;
  border-radius: 16px;
  box-shadow: var(--light-mode-shadow-MD);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 8px 48px;
  position: relative;
  width: 1033px;
}

.DASHBOARD .text-wrapper-23 {
  color: var(--new-stylestextbody-normal);
  font-family: var(--caption-small-regular-font-family);
  font-size: var(--caption-small-regular-font-size);
  font-style: var(--caption-small-regular-font-style);
  font-weight: var(--caption-small-regular-font-weight);
  letter-spacing: var(--caption-small-regular-letter-spacing);
  line-height: var(--caption-small-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-44 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 100px;
  position: relative;
}

.DASHBOARD .frame-45 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 62px;
  justify-content: flex-end;
  position: relative;
}

.DASHBOARD .frame-46 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 48px;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.DASHBOARD .frame-47 {
  align-items: center;
  background-color: var(--old-stylespart-paid);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 10px 7px;
  position: relative;
  width: 40px;
}

.DASHBOARD .text-wrapper-24 {
  color: #ffffff;
  font-family: var(--old-body-medium-font-family);
  font-size: var(--old-body-medium-font-size);
  font-style: var(--old-body-medium-font-style);
  font-weight: var(--old-body-medium-font-weight);
  letter-spacing: var(--old-body-medium-letter-spacing);
  line-height: var(--old-body-medium-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-48 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 238px;
}

.DASHBOARD .frame-49 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 48px;
  padding: 10px 0px;
  position: relative;
}

.DASHBOARD .frame-50 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 125px;
}

.DASHBOARD .frame-51 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.DASHBOARD .frame-52 {
  align-items: center;
  background-image: url(https://c.animaapp.com/ALsvK82i/img/frame-861@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: var(--old-styleslight-text-color);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 10px 7px;
  position: relative;
  width: 40px;
}

.DASHBOARD .TRANSACTION-HISTORY-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  padding: 32px 0px 8px;
  position: relative;
  width: 952.94px;
}

.DASHBOARD .frame-53 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: flex-end;
  position: relative;
  width: 174px;
}

.DASHBOARD .frame-54 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 48px;
  margin-right: -2px;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.DASHBOARD .text-wrapper-25 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-26 {
  color: var(--old-styleslight-text-color);
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-27 {
  color: var(--new-stylessecondarystrawberry);
  font-family: var(--body-normal-medium-font-family);
  font-size: var(--body-normal-medium-font-size);
  font-style: var(--body-normal-medium-font-style);
  font-weight: var(--body-normal-medium-font-weight);
  letter-spacing: var(--body-normal-medium-letter-spacing);
  line-height: var(--body-normal-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-28 {
  color: var(--old-styleslight-text-color);
  font-family: var(--old-body-very-small-regular-font-family);
  font-size: var(--old-body-very-small-regular-font-size);
  font-style: var(--old-body-very-small-regular-font-style);
  font-weight: var(--old-body-very-small-regular-font-weight);
  letter-spacing: var(--old-body-very-small-regular-letter-spacing);
  line-height: var(--old-body-very-small-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-29 {
  color: var(--old-stylesmain-text-color);
  font-family: var(--old-body-medium-font-family);
  font-size: var(--old-body-medium-font-size);
  font-style: var(--old-body-medium-font-style);
  font-weight: var(--old-body-medium-font-weight);
  letter-spacing: var(--old-body-medium-letter-spacing);
  line-height: var(--old-body-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .SCROLL-instance {
  background-color: #dddedd !important;
  box-shadow: 1px 0px 1px #bec3c7 !important;
  height: 613px !important;
  margin-left: -67px !important;
}

.DASHBOARD .design-component-instance-node {
  background-color: var(--new-stylestextbody-normal) !important;
  border-radius: 8px !important;
}

.DASHBOARD .text-wrapper-30 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 406px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 1963px;
  white-space: nowrap;
}

.DASHBOARD .new-side-nav {
  background-color: #ffffff;
  box-shadow: var(--nav-border-shadow);
  height: 1024px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 272px;
}

.DASHBOARD .overlap-group-wrapper {
  height: 151px;
  left: -24px;
  position: absolute;
  top: 0;
  width: 318px;
}

.DASHBOARD .overlap-group-3 {
  background-image: url(https://c.animaapp.com/ALsvK82i/img/union.svg);
  background-size: 100% 100%;
  height: 151px;
  left: 24px;
  position: relative;
  width: 272px;
}

.DASHBOARD .mask-group {
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.DASHBOARD .EAZIPAY-LOGO-NEW {
  height: 33px !important;
  left: 74px !important;
  position: absolute !important;
  top: 59px !important;
  width: 124px !important;
}

.DASHBOARD .frame-55 {
  height: 852px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 172px;
  width: 272px;
}

.DASHBOARD .frame-56 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  position: absolute;
  top: 16px;
}

.DASHBOARD .frame-57 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.DASHBOARD .component {
  background-color: var(--new-stylesprimarymint-light);
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-color: var(--new-stylesgraysoutline);
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 272px;
}

.DASHBOARD .frame-58 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  left: 20px;
  position: absolute;
  top: 16px;
}

.DASHBOARD .tif {
  height: 20px;
  position: relative;
  width: 19.99px;
}

.DASHBOARD .text-wrapper-31 {
  color: var(--new-stylesprimaryeazi-green);
  font-family: var(--body-normal-medium-font-family);
  font-size: var(--body-normal-medium-font-size);
  font-style: var(--body-normal-medium-font-style);
  font-weight: var(--body-normal-medium-font-weight);
  letter-spacing: var(--body-normal-medium-letter-spacing);
  line-height: var(--body-normal-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .rectangle-4 {
  background-color: #11453b;
  border-radius: 0px 2px 2px 0px;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.DASHBOARD .component-2 {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-color: var(--new-stylesgraysoutline);
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 272px;
}

.DASHBOARD .interface-wallet {
  height: 20.4px;
  margin-left: -0.2px;
  position: relative;
  width: 20.4px;
}

.DASHBOARD .component-3 {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-color: var(--new-stylesgraysoutline);
  height: 56px;
  position: relative;
  width: 272px;
}

.DASHBOARD .heroicons-outline-instance {
  background-image: url(https://c.animaapp.com/ALsvK82i/img/heroicons-outline-user-plus.svg) !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.DASHBOARD .arrow-chevron-right-4 {
  height: 24px !important;
  left: 234px !important;
  position: absolute !important;
  top: 18px !important;
  width: 21px !important;
}

.DASHBOARD .group {
  height: 19.71px;
  position: relative;
  width: 17.01px;
}

.DASHBOARD .arrow-chevron-right-instance {
  height: 24px !important;
  left: 234px !important;
  position: absolute !important;
  top: 16px !important;
  width: 21px !important;
}

.DASHBOARD .heroicons-outline-clipboard-document-check {
  background-image: url(https://c.animaapp.com/ALsvK82i/img/heroicons-outline-clipboard-document-check.svg) !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.DASHBOARD .frame-59 {
  height: 21.32px;
  position: relative;
  width: 20px;
}

.DASHBOARD .component-4 {
  background-color: #ffffff;
  height: 56px;
  position: relative;
  width: 272px;
}

.DASHBOARD .icon-instance-node-2 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.DASHBOARD .line-8 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 235.62px;
}

.DASHBOARD .arrow-chevron-right-2 {
  height: 21px;
  left: 939px;
  position: absolute;
  top: 452px;
  width: 24px;
}

.DASHBOARD .frame-60 {
  height: 16px;
  left: 707px;
  position: absolute;
  top: 1727px;
  width: 272px;
}

.DASHBOARD .frame-61 {
  height: 16px;
  left: 707px;
  position: absolute;
  top: 891px;
  width: 272px;
}

.DASHBOARD .new-top-NAV-BAR {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 25px #0000000d;
  display: flex;
  justify-content: space-between;
  left: 272px;
  padding: 11px 48px 11px 61px;
  position: fixed;
  top: 0;
  width: 1168px;
}

.DASHBOARD .company-logo {
  background-image: url(https://c.animaapp.com/ALsvK82i/img/company-logo@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  width: 117px;
}

.DASHBOARD .nav-bar-profile {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 64px;
  position: relative;
}

.DASHBOARD .ICON-NOTIFICATION {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 2px;
  padding: 2px 4px;
  position: relative;
}

.DASHBOARD .vector-4 {
  height: 19.95px;
  position: relative;
  width: 16px;
}

.DASHBOARD .frame-62 {
  align-items: center;
  background-color: var(--old-stylesfail);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 16px;
  justify-content: center;
  left: 14px;
  padding: 0px 1px;
  position: absolute;
  top: -4px;
  width: 16px;
}

.DASHBOARD .text-wrapper-32 {
  color: #ffffff;
  font-family: var(--old-note-text-semi-bold-font-family);
  font-size: var(--old-note-text-semi-bold-font-size);
  font-style: var(--old-note-text-semi-bold-font-style);
  font-weight: var(--old-note-text-semi-bold-font-weight);
  letter-spacing: var(--old-note-text-semi-bold-letter-spacing);
  line-height: var(--old-note-text-semi-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .frame-63 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 17px;
  justify-content: center;
  position: relative;
}

.DASHBOARD .frame-64 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.DASHBOARD .ellipse-3 {
  height: 56px;
  object-fit: cover;
  position: relative;
  width: 56px;
}

.DASHBOARD .text-wrapper-33 {
  color: var(--sec-black);
  font-family: var(--body-normal-bold-font-family);
  font-size: var(--body-normal-bold-font-size);
  font-style: var(--body-normal-bold-font-style);
  font-weight: var(--body-normal-bold-font-weight);
  letter-spacing: var(--body-normal-bold-letter-spacing);
  line-height: var(--body-normal-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.DASHBOARD .text-wrapper-34 {
  align-self: stretch;
  color: var(--pry-grey);
  font-family: var(--body-small-2-medium-font-family);
  font-size: var(--body-small-2-medium-font-size);
  font-style: var(--body-small-2-medium-font-style);
  font-weight: var(--body-small-2-medium-font-weight);
  height: 17px;
  letter-spacing: var(--body-small-2-medium-letter-spacing);
  line-height: var(--body-small-2-medium-line-height);
  position: relative;
  white-space: nowrap;
}