:root {
  --body-normal-bold-font-family: "Aeonik-Bold", Helvetica;
  --body-normal-bold-font-size: 16px;
  --body-normal-bold-font-style: normal;
  --body-normal-bold-font-weight: 700;
  --body-normal-bold-letter-spacing: 0px;
  --body-normal-bold-line-height: 24px;
  --body-normal-medium-font-family: "Aeonik-Medium", Helvetica;
  --body-normal-medium-font-size: 16px;
  --body-normal-medium-font-style: normal;
  --body-normal-medium-font-weight: 500;
  --body-normal-medium-letter-spacing: 0px;
  --body-normal-medium-line-height: 24px;
  --body-small-2-medium-font-family: "Aeonik-Medium", Helvetica;
  --body-small-2-medium-font-size: 14px;
  --body-small-2-medium-font-style: normal;
  --body-small-2-medium-font-weight: 500;
  --body-small-2-medium-letter-spacing: 0.25px;
  --body-small-2-medium-line-height: 16px;
  --body-small-2-regular-font-family: "Aeonik-Regular", Helvetica;
  --body-small-2-regular-font-size: 14px;
  --body-small-2-regular-font-style: normal;
  --body-small-2-regular-font-weight: 400;
  --body-small-2-regular-letter-spacing: 0.25px;
  --body-small-2-regular-line-height: 16px;
  --button-button-font-family: "Aeonik-Medium", Helvetica;
  --button-button-font-size: 14px;
  --button-button-font-style: normal;
  --button-button-font-weight: 500;
  --button-button-letter-spacing: 0.10000000149011612px;
  --button-button-line-height: 20px;
  --button-large-font-family: "Aeonik-Medium", Helvetica;
  --button-large-font-size: 16px;
  --button-large-font-style: normal;
  --button-large-font-weight: 500;
  --button-large-letter-spacing: 0px;
  --button-large-line-height: 24px;
  --button-small-font-family: "Aeonik-Medium", Helvetica;
  --button-small-font-size: 14px;
  --button-small-font-style: normal;
  --button-small-font-weight: 500;
  --button-small-letter-spacing: 0.10000000149011612px;
  --button-small-line-height: 20px;
  --caption-small-CAP-font-family: "Aeonik-Medium", Helvetica;
  --caption-small-CAP-font-size: 12px;
  --caption-small-CAP-font-style: normal;
  --caption-small-CAP-font-weight: 500;
  --caption-small-CAP-letter-spacing: 0.4000000059604645px;
  --caption-small-CAP-line-height: 16px;
  --caption-small-regular-font-family: "Aeonik-Regular", Helvetica;
  --caption-small-regular-font-size: 12px;
  --caption-small-regular-font-style: normal;
  --caption-small-regular-font-weight: 400;
  --caption-small-regular-letter-spacing: 0px;
  --caption-small-regular-line-height: 16px;
  --eazipaytypo-neutral-lighten-2: rgba(185, 187, 192, 1);
  --elevations-dark-mode-dark-2: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  --elevations-light-mode-light-2: 0px 6px 12px 0px rgba(170, 170, 170, 0.11);
  --header-h1-bold-font-family: "Aeonik-Bold", Helvetica;
  --header-h1-bold-font-size: 36px;
  --header-h1-bold-font-style: normal;
  --header-h1-bold-font-weight: 700;
  --header-h1-bold-letter-spacing: 0px;
  --header-h1-bold-line-height: 48px;
  --header-h2-bold-font-family: "Aeonik-Bold", Helvetica;
  --header-h2-bold-font-size: 28px;
  --header-h2-bold-font-style: normal;
  --header-h2-bold-font-weight: 700;
  --header-h2-bold-letter-spacing: 0px;
  --header-h2-bold-line-height: 36px;
  --light-mode-shadow-MD: 0px 9px 18px 0px rgba(170, 170, 170, 0.15);
  --light-mode-shadow-XL: 0px 20px 48px 0px rgba(170, 170, 170, 0.29);
  --nav-border-shadow: 4px 0px 25px 0px rgba(170, 170, 170, 0.08);
  --new-stylesgraysgray: rgba(221, 222, 221, 1);
  --new-stylesgraysoutline: rgba(231, 232, 231, 1);
  --new-stylesprimaryeazi-green: rgba(17, 69, 59, 1);
  --new-stylesprimarymint: rgba(217, 235, 205, 1);
  --new-stylesprimarymint-light: rgba(240, 247, 235, 0.5);
  --new-stylessecondarystrawberry: rgba(234, 78, 75, 1);
  --new-stylessematicserror: rgba(239, 68, 68, 1);
  --new-stylessematicssuccess: rgba(33, 150, 83, 1);
  --new-stylesshadeswhite: rgba(255, 255, 255, 1);
  --new-stylestextbody-dark: rgba(81, 82, 81, 1);
  --new-stylestextbody-light: rgba(181, 182, 181, 1);
  --new-stylestextbody-normal: rgba(141, 142, 141, 1);
  --new-stylestextheading: rgba(41, 42, 41, 1);
  --note-normal-bold-font-family: "Aeonik-Bold", Helvetica;
  --note-normal-bold-font-size: 10px;
  --note-normal-bold-font-style: normal;
  --note-normal-bold-font-weight: 700;
  --note-normal-bold-letter-spacing: 0px;
  --note-normal-bold-line-height: 12px;
  --old-body-medium-font-family: "Aeonik-Medium", Helvetica;
  --old-body-medium-font-size: 16px;
  --old-body-medium-font-style: normal;
  --old-body-medium-font-weight: 500;
  --old-body-medium-letter-spacing: 0px;
  --old-body-medium-line-height: normal;
  --old-body-small-medium-font-family: "Aeonik-Medium", Helvetica;
  --old-body-small-medium-font-size: 14px;
  --old-body-small-medium-font-style: normal;
  --old-body-small-medium-font-weight: 500;
  --old-body-small-medium-letter-spacing: -0.2659999966621399px;
  --old-body-small-medium-line-height: 14px;
  --old-body-small-regular-font-family: "Aeonik-Regular", Helvetica;
  --old-body-small-regular-font-size: 14px;
  --old-body-small-regular-font-style: normal;
  --old-body-small-regular-font-weight: 400;
  --old-body-small-regular-letter-spacing: 0px;
  --old-body-small-regular-line-height: normal;
  --old-body-very-small-regular-font-family: "Aeonik-Regular", Helvetica;
  --old-body-very-small-regular-font-size: 12px;
  --old-body-very-small-regular-font-style: normal;
  --old-body-very-small-regular-font-weight: 400;
  --old-body-very-small-regular-letter-spacing: 0px;
  --old-body-very-small-regular-line-height: normal;
  --old-note-text-semi-bold-font-family: "Aeonik-Bold", Helvetica;
  --old-note-text-semi-bold-font-size: 10px;
  --old-note-text-semi-bold-font-style: normal;
  --old-note-text-semi-bold-font-weight: 700;
  --old-note-text-semi-bold-letter-spacing: 0px;
  --old-note-text-semi-bold-line-height: normal;
  --old-stylesfail: rgba(201, 47, 2, 1);
  --old-stylesform-outline-color: rgba(227, 227, 227, 1);
  --old-styleslight-text-color: rgba(139, 139, 139, 1);
  --old-stylesmain-background-color-only: rgba(249, 250, 252, 1);
  --old-stylesmain-text-color: rgba(68, 68, 68, 1);
  --old-stylespart-paid: rgba(1, 170, 140, 1);
  --old-stylesscroll-color: rgba(175, 175, 175, 1);
  --old-styleswhite-color: rgba(255, 255, 255, 1);
  --pry-grey: rgba(137, 137, 137, 1);
  --sec-black: rgba(43, 43, 43, 1);
  --sub-header-h5-bold-font-family: "Aeonik-Bold", Helvetica;
  --sub-header-h5-bold-font-size: 18px;
  --sub-header-h5-bold-font-style: normal;
  --sub-header-h5-bold-font-weight: 700;
  --sub-header-h5-bold-letter-spacing: 0px;
  --sub-header-h5-bold-line-height: 24px;
  --sub-header-h5-medium-font-family: "Aeonik-Medium", Helvetica;
  --sub-header-h5-medium-font-size: 18px;
  --sub-header-h5-medium-font-style: normal;
  --sub-header-h5-medium-font-weight: 500;
  --sub-header-h5-medium-letter-spacing: 0px;
  --sub-header-h5-medium-line-height: 24px;
  --text-color-stylewhite: rgba(255, 255, 255, 1);
}

.SCROLL {
  align-items: center;
  background-color: var(--old-stylesform-outline-color);
  display: flex;
  flex-direction: column;
  height: 728px;
  justify-content: space-between;
  padding: 4px 0px;
  position: relative;
  width: 16px;
}

.SCROLL .frame-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 12px;
}

.SCROLL .polygon {
  height: 6px;
  position: relative;
  width: 6.93px;
}

.SCROLL .rectangle {
  align-self: stretch;
  background-color: var(--old-stylesscroll-color);
  height: 268px;
  position: relative;
  width: 100%;
}